.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #342830;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-toolbar {
  color: darkmagenta;
}
.box img {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.box1 img {
  object-fit: cover;
}
.excercise {
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.p {
  margin-left: 20%;
  margin-right: 20%;
}
.fab {
  margin-left: 90%;
}
.body {
  background-size: cover;
  background-image: url("https://th.bing.com/th/id/OIP.vLTQDXVuX4PPIai0FiOT1wHaE8?w=233&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
  background-color: #cccccc;
  background-repeat: no-repeat;
}
background-img {
  opacity: 0.5;
}
.excercise2 {
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: purple;
}
.food {
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: purple;
}
