.full {
  text-align: center;
  background-size: cover;
  background-image: url("../../background.jpg");
  background-color: #cccccc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.border {
  border: 3px solid purple;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: left;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 1.5rem;
}

hr.underline {
  border: 0;
  height: 2px;
  background-color: purple;
  width: 150px;
  align-items: center;
  margin-left: 0rem;
}

.messages {
  background-color: rgba(230, 230, 250, 0.5);
}
.messageHeader {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
